body {
    text-align: center;
    font-family: "Noto Sans JP";
    font-weight: 400;
}

h1 {
    text-align: left;
    font-size: 40px;
    font-family: "Jost";
}

.hayabeen {
    font-size: 30px;
}

.美しき {
    font-family: "Lavishly Yours";
}