body {
    text-align: center;
    font-family: "Klee one";
    font-weight: 400;
    background-color: #FFFFFF;
}

header {
    background-color: #FFFFFF;
}

h1 {
    text-align: left;
    font-size: 40px;
    font-family: "Jost";
    padding-left: 10px;
}

.hayabeen {
    font-size: 30px;
    padding-bottom: 20px;
}

.hayabeeeen {
    padding-bottom: 15px;
}

footer {
    
}